{erl_opts, [debug_info]}.
{deps, [
    {bcrypt, "1.1.2"},
    {bson, ".*", {git, "git://github.com/comtihon/bson-erlang", {tag, "v0.2.3"}}},
    {jwerl, {git, "https://github.com/G-Corp/jwerl", {tag, "v1.1.0"}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.8.0"}}},
    {mongodb, ".*", {git, "git://github.com/comtihon/mongodb-erlang", {tag, "v3.2.0"}}}, %not official driver, but the one official is based on
    {jiffy, ".*", {git,"https://github.com/davisp/jiffy", {tag, "1.0.8"}}}
  ]}.

{relx, [{
          release,
          {gen_rest_api, "0.1.0"},
          [gen_rest_api, cowboy, sasl]
        },

        {mode, dev},

        %% automatically picked up if the files
        %% exist but can be set manually, which
        %% is required if the names aren't exactly
        %% sys.config and vm.args
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [{prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod}

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}
                     ]
            }]}]}.
